<!doctype html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    <style>
      body{ padding-top:80px; }
      th{
        background-color:#88b77b;
        text-align:center;
      }
      .container{
        margin:50px;
      }
      a{
        color:#ffffff;
        font-size:16px;

      }
      input{
        width:500px;
        height:40px;
      }
    </style>
  </style>
  <script type="text/javascript">
    function editClicked(i){

// var val1 = document.getElementById("user_id").value;
//val1 = document.getElementsByTagName('table')[0].rows[i+1].user_id.value;
//document.getElementById("demo").innerHTML = val1;
var val1 = document.getElementById(i).value;
document.getElementById('demo2_2').value = val1;
var val2 = document.getElementsByTagName('table')[0].rows[i+1].cells[1].innerHTML;
document.getElementById('demo2').value = val2;
var val3 = document.getElementsByTagName('table')[0].rows[i+1].cells[2].innerHTML;
document.getElementById('demo3').value = val3;
var val4 = document.getElementsByTagName('table')[0].rows[i+1].cells[3].innerHTML;
document.getElementById('demo4').value = val4;
var val5 = document.getElementsByTagName('table')[0].rows[i+1].cells[4].innerHTML;
document.getElementById('demo5').value = val5;
}
function load(){
  $.ajax({
    url:      "/api/user", 
    type:     "PUT", 
    dataType: "text", 
    data:     {
      username: $("#demo2").val(),
      user_id:  $("#demo2_2").val(), 
      email:    $("#demo3").val(), 
      address:  $("#demo4").val(), 
      hobbies:  $("#demo5").val()
    }, 
    success: function(result){
//var data = JSON.parse(result);
//alert(document.getElementById('demo2_2').value);
// return data;
//var idUpdate =
//chua biet chinh sua du lieu nen dung cach nay cho nhanh 
location.reload(); 
}
})
}
</script>
</head>
<body>

  <div class="container">

    <h1>Hello</h1>
    <button type="button" class="btn btn-success"><a href="http://localhost:5000/" >Đăng ký</a></button>

    <div id="info">
      <table class="datatable table table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>

            <th>Stt</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Hobbies</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <%var stt = 0; %>
          <%for(i in user){ %>

          <tr>
            <td><%=stt%><input type="hidden" id="<%=stt%>" value = "<%=user[i]._id%>" ></td>
            <td><%=user[i].username%></td>
            <td><%=user[i].email%></td>
            <td><%=user[i].address%></td>
            <td><%=user[i].hobbies%></td>

            <td>

              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="editClicked(<%=stt++ %>)">edit</button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" >
                    <div class="modal-header"  style="background-color: #000000; color:#ffffff;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit user</h4>
                      <p id="demo"></p>
                    </div>
                    <div class="modal-body">
                     <div class="form-group">
            <label>Name</label>
            <input type="text" name="username" id="demo2">
  <input type="hidden" name="user_id" id="demo2_2">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" id="demo3">
        </div>
        <div class="form-group">
            <label>Address</label>
            <br>
             <input  type="text" name="address" id="demo4">
        </div>
         <div class="form-group">
            <label>Hobbies</label>
            <br>
             <input  type="text" name="hobbies" id="demo5">
        </div>

<p id="result"></p>


</div>
<div class="modal-footer">
<button type="button" onclick="load()" class="btn btn-success">Edit</button>
<!-- </form> -->
</div>
</div>

</div>
</div>

</td>
<td>
  <form action="/delete" method="post">
    <input type="hidden" name="id" value="<%=user[i]._id%>">
    <button type="submit" class="btn btn-warning">Delete</button>
  </form>
</td>
</tr>
<%}%>
</tbody>
</table>
</div>
</div>

</body>
</html>
