<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-1">

    <h1><span class="fa fa-sign-in"></span>Form insert</h1>
    <form action="/api/user" method="post">
    <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required="required">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required="required">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" required="required">
        </div>
        <div class="form-group">
            <label>Hobbies</label>
            <input type="text" class="form-control" name="hobbies" required="required">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Insert</button>
    </form>

    <div id="info">
    </div>
</div>

</div>
</body>
</html>
